@media (hover: none){
    root-id:hover{
      background: transparent;
    }
}
color-inherit-id{
  color: inherit;
}
dense-id{
  min-height: 32;
  min-width: 64;
}
label-id{
  align-items: inherit;
  display: inherit;
  justify-content: inherit;
  width: 100%;
}
root-id{
  border-radius: 2;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.4em;
  min-height: 36;
  min-width: 88;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
root-id {
  background: transparent;
}
root-id:hover{
  text-decoration: none;
}